#box {
    margin: 10% auto;
    margin: 10% auto 20px auto;
    height: 400px;
    width: 400px;
    border: 2px solid #b587d4;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(0,0,0, 0.4);
}

h1 {
   line-height: 1.8em;
   color: #ffffff;
}

form {
    line-height: 1.7em;
}

button {
    line-height: 1.7em;
}
    button[type=button] {
        background-color: #FFFFFF;
        border: 1px solid black;
        padding: 10px;
        font-family: sans-serif;
        font-size: 14px;
        border-radius: 10px;
    }
    button[type=button]:hover {
        cursor: pointer;
        color: white;
        background-color:#b587d4;
        border: 0px;
        margin: 1px;
        border-radius: 10px;
    }
 
#totalTip {
    font-size: 1.2em;
}
body {
    background-image: url("lavender.jpg");
    color: #ffffff;
}

